.card {
	@include border-radius(10px);
	border: 1px solid $light-gray;

	.card-header,
	.card-section {
		padding: 10px;
	}
	.card-header {
		@include truncate(300px);
		@include border-radius(10px 10px 0 0);
		background: #ddd
	}
	img {
		@include image-hover();
	}
	.card-section {
		/*h4 {
			@extend .typography-style-1;
		}*/
	}

}