.info-message {
	background: #d9edf7;
	border: 1px solid darken(#d9edf7,10%);
	border-radius: 5px;
	color: darken(#d9edf7,50%);
	padding: 20px;
	strong {
		color: darken(#d9edf7, 60%)
	}
}

.success-message {
	background: #dff0d8;
	border: 1px solid darken(#dff0d8,10%);
	border-radius: 5px;
	color: darken(#dff0d8,50%);
	padding: 20px;
	strong {
		color: darken(#dff0d8, 60%)
	}
}

.warning-message {
	background: #fcf8e3;
	border: 1px solid darken(#fcf8e3,10%);
	border-radius: 5px;
	color: darken(#fcf8e3,50%);
	padding: 20px;
	strong {
		color: darken(#fcf8e3, 60%)
	}
}

.danger-message {
	background: #f2dede;
	border: 1px solid darken(#f2dede,10%);
	border-radius: 5px;
	color: darken(#f2dede,50%);
	padding: 20px;
	strong {
		color: darken(#f2dede, 60%)
	}
}

/*.message {
	border: 1px solid;
	border-radius: 5px;
	padding: 20px;
}


.info-message {
	@extend .message;
	background: #d9edf7;
	border-color: darken(#d9edf7,10%);
	color: darken(#d9edf7,50%);
	strong {
		color: darken(#d9edf7, 60%)
	}
}

.success-message {
	@extend .message;
	background: #dff0d8;
	border-color: darken(#dff0d8,10%);
	color: darken(#dff0d8,50%);
	strong {
		color: darken(#dff0d8, 60%)
	}
}

.warning-message {
	@extend .message;
	background: #fcf8e3;
	border-color: darken(#fcf8e3,10%);
	color: darken(#fcf8e3,50%);
	strong {
		color: darken(#fcf8e3, 60%)
	}
}

.danger-message {
	@extend .message;
	background: #f2dede;
	border-color: darken(#f2dede,10%);
	color: darken(#f2dede,50%);
	strong {
		color: darken(#f2dede, 60%)
	}
}*/

/*

$messageColors: (
	info: #d9edf7,
	success: #dff0d8,
	warning: #fcf8e3,
	danger: #f2dede
);

@each $type, $color in $messageColors {
	.#{$type}-message {
		background: $color;
		border: 1px solid darken($color,10%);
		border-radius: 5px;
		color: darken($color,50%);
		padding: 20px;
		strong {
			color: darken($color, 60%)
		}
	}
}*/
