/*
 * Traditional styling can get repetitive.
 */
ol {
	border-left: 5px solid $primary-color;
	margin-left: 0;
	padding-left: 50px;
}
ol li {
	color: $secondary-color;
}
ol li a {
	color: $primary-color;
}
ol li a:hover {
	color: lighten($primary-color,20%);
}

/*
ol {
	border-left: 5px solid $primary-color;
	margin-left: 0;
	padding-left: 50px;
	li {
		color: $secondary-color;
		a {
			color: $primary-color;
			&:hover {
				color: lighten($primary-color,20%);
			}
		}
	}
}*/
