$primary-color: #123456;
$secondary-color: #777;
$light-gray: #aaa;
$primary-font: "Helvetica", sans-serif;
$device: desktop;


body {
	font-family: $primary-font;
}

h1, h3 {
	color: $primary-color;
}

@if ($device == "desktop") {
	h1 {
		font-size: 34px;
	}
} @else {
	h1 {
		font-size: 28px;
	}
}