/*
 * Mixins are a set of rules.
 * You can also pass a variable to them to take advantage of
 */

@mixin image-hover {
	transition: .3s ease all;
	&:hover {
		opacity: .8;
	}
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin truncate($truncation-boundary) {
	max-width: $truncation-boundary;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}