*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
	margin: 0;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}
img {
	height: auto;
	max-width: 100%;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}
.hidden,
.hide {
	display: none !important;
}

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

.container {
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	margin: 0 auto;
	max-width: 900px;
	padding: 20px;
}

.row {
	@extend .clearfix;
	display: flex;
	margin: 0 -10px;

	.full-column,
	.quarter-column,
	.third-column,
	.half-column {
		min-height: 1px;
		padding: 0 10px;
	}
	.full-column {
		width: 100%;
	}
	.quarter-column {
		width: 25%;
	}
	.third-column {
		width: 33%;
	}
	.half-column {
		width: 50%;
	}
}

.typography-style-1 {
	color: #1b6083;
	font-weight: 300;
	font-size: 18px;
}